<% @posts.each do |post| %>
    <div class="post-container">
        <div class='post-thumb'><%= image_tag post.image_url.to_s %></div>
        <h2 class = 'post-title'><%= post.event %></h2>
        <p>
            <Strong>Created by</Strong>
            <%= post.owner %>
            <Strong>Category</Strong>
            <%= post.category %>
        </p>
        <p class = "post-tag">
            <Strong>Time</Strong>
            <%= post.eventTime %>
            <Strong>Place</Strong>
            <%= post.location %>
        </p>
        <p class='post-content'><%= truncate post.description, length: 259 %></p>
        
        <%= link_to 'read more', post %> 
        <div class='post-links'>
            <% if user_signed_in? %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
            <% else %>
            <% end %>
         </div>
    </div>
<% end %>
<br>
<%= link_to 'New Post', new_post_path %>
