<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @post.image_url.to_s , :size => "200x200" %>
</p>

<p>
  <b>Event:</b>
  <%= @post.event %>
</p>

<p>
  <b>Owner:</b>
  <%= @post.owner %>
</p>

<p>
  <b>Category:</b>
  <%= @post.category %>
</p>

<p>
  <b>Eventdate:</b>
  <%= @post.eventDate %>
</p>

<p>
  <b>Eventtime:</b>
  <%= @post.eventTime %>
</p>

<p>
  <b>Location:</b>
  <%= @post.location %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>